<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransactionsPath" value="C:\Users\Jeremy\Documents\Visual Studio 2019\Projects\BlockchainApp\BlockchainConsole\transactions1.json" />
    <add key="BlockchainStoragePath" value="C:\Users\Jeremy\Documents\Visual Studio 2019\Projects\BlockchainApp\BlockchainConsole\blockchain1.json" />
  </appSettings>
</configuration>