<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      BlockChainApp   (webforms app lives here)
      -Downloads    (data lives here)
      -Tools       (console exe lives here)
    -->
    <add key="TransactionsPath" value="..\Downloads\transactions.json" />
    <add key="BlockchainStoragePath" value="..\Downloads\blockchain.json" />
  </appSettings>
</configuration>